In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("../data/I1.csv")

In [3]:
data.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,I1,24/08/2019,17:00,Parma,Juventus,0,1,A,0,1,...,2.15,1.50,1.77,2.02,1.81,2.11,1.93,2.12,1.83,2.04
1,I1,24/08/2019,19:45,Fiorentina,Napoli,3,4,A,1,2,...,2.15,0.75,1.75,2.05,1.81,2.11,1.94,2.14,1.80,2.09
2,I1,25/08/2019,17:00,Udinese,Milan,1,0,H,0,0,...,1.78,0.50,1.86,2.07,1.88,2.04,1.91,2.09,1.85,2.04
3,I1,25/08/2019,19:45,Cagliari,Brescia,0,1,A,0,0,...,1.83,-0.75,2.10,1.83,2.11,1.82,2.12,1.85,2.08,1.82
4,I1,25/08/2019,19:45,Roma,Genoa,3,3,D,2,2,...,2.23,-0.75,1.97,1.96,1.98,1.94,1.99,2.20,1.92,1.97

In [5]:
data = data[["HomeTeam", "AwayTeam", "FTR", "B365H", "B365D", "B365A"]]

In [6]:
data

       HomeTeam    AwayTeam FTR  B365H  B365D  B365A
0         Parma    Juventus   A   9.00   5.25   1.33
1    Fiorentina      Napoli   A   4.75   3.75   1.72
2       Udinese       Milan   H   3.75   3.30   2.05
3      Cagliari     Brescia   A   1.83   3.60   4.33
4          Roma       Genoa   D   1.45   4.20   8.00
..          ...         ...  ..    ...    ...    ...
251       Milan       Genoa   A   1.66   3.80   5.25
252   Sampdoria      Verona   H   2.60   3.20   2.80
253     Udinese  Fiorentina   D   2.90   3.25   2.50
254    Juventus       Inter   H   2.25   3.30   3.30
255    Sassuolo     Brescia   H   1.75   3.75   4.50

[256 rows x 6 columns]

In [7]:
team_results = {}

In [13]:
def find_results(row):
    global team_results
    home = row["HomeTeam"]
    away = row["AwayTeam"]
    res = row["FTR"]
    oddsH = row["B365H"]
    oddsD = row["B365D"]
    oddsA = row["B365A"]
    
    if not home in team_results:
        team_results[home] = 0
    
    if not away in team_results:
        team_results[away] = 0
        
    pred = np.array([oddsH, oddsD, oddsA]).argmin()
    
    pred = np.array(["H", "D", "A"])[pred]
    
    if res == pred:
        team_results[home] += 1
        team_results[away] += 1

In [14]:
data.apply(find_results, axis = 1)

0      None
1      None
2      None
3      None
4      None
       ...
251    None
252    None
253    None
254    None
255    None
Length: 256, dtype: object

In [15]:
team_results

{'Parma': 11,
 'Juventus': 18,
 'Fiorentina': 11,
 'Napoli': 12,
 'Udinese': 13,
 'Milan': 17,
 'Cagliari': 10,
 'Brescia': 18,
 'Roma': 14,
 'Genoa': 13,
 'Sampdoria': 16,
 'Lazio': 18,
 'Spal': 15,
 'Atalanta': 13,
 'Torino': 13,
 'Sassuolo': 15,
 'Verona': 11,
 'Bologna': 12,
 'Inter': 17,
 'Lecce': 13}

In [16]:
total = (len(team_results) - 1) * 2

In [17]:
total

38

In [29]:
team_results = pd.DataFrame.from_dict(team_results, orient="index", columns=["Correct Predictions"])

In [37]:
team_results = team_results.sort_values("Correct Predictions")

In [38]:
team_results["temp"] = range(1, len(team_results) + 1)

In [43]:
team_results = team_results.reset_index()

In [45]:
team_results

         index  Correct Predictions  temp
0     Cagliari                   10     1
1        Parma                   11     2
2   Fiorentina                   11     3
3       Verona                   11     4
4      Bologna                   12     5
5       Napoli                   12     6
6       Torino                   13     7
7     Atalanta                   13     8
8        Genoa                   13     9
9      Udinese                   13    10
10       Lecce                   13    11
11        Roma                   14    12
12        Spal                   15    13
13    Sassuolo                   15    14
14   Sampdoria                   16    15
15       Inter                   17    16
16       Milan                   17    17
17       Lazio                   18    18
18     Brescia                   18    19
19    Juventus                   18    20

In [48]:
team_results = team_results.rename(columns={"index": "name", "Correct Predictions" : "pred", "temp" : "order"})

In [49]:
team_results

          name  pred  order
0     Cagliari    10      1
1        Parma    11      2
2   Fiorentina    11      3
3       Verona    11      4
4      Bologna    12      5
5       Napoli    12      6
6       Torino    13      7
7     Atalanta    13      8
8        Genoa    13      9
9      Udinese    13     10
10       Lecce    13     11
11        Roma    14     12
12        Spal    15     13
13    Sassuolo    15     14
14   Sampdoria    16     15
15       Inter    17     16
16       Milan    17     17
17       Lazio    18     18
18     Brescia    18     19
19    Juventus    18     20

In [50]:
team_results.to_csv("barchart.csv", index=False)