In [403]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [162]:
brand= pd.read_csv('brand_values.csv')

In [261]:
brand.head(100)

      name     value    year  lastValue  rank
0    Apple  214480.0  2018.0   211447.4     1
1    Apple  211447.4  2017.9   208414.8     1
2    Apple  208414.8  2017.8   205382.2     1
3    Apple  205382.2  2017.7   202349.6     1
4    Apple  202349.6  2017.6   199317.0     1
..     ...       ...     ...        ...   ...
95   Apple  100370.7  2013.1    98316.0     1
96  Google  100365.0  2013.5    98950.2     2
97  Google   98950.2  2013.4    97535.4     2
98   Apple   98316.0  2013.0    96141.2     1
99  Google   97535.4  2013.3    96120.6     2

[100 rows x 5 columns]

In [415]:
df =pd.read_csv('../../../data/Dataset2/full_df.csv').drop(columns='Unnamed: 0')

D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (69) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [416]:
df

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BWright,IWpred,IWright,PSpred,PSright,VCpred,VCright,WHpred,WHright,year
0,E0,17/08/13,Arsenal,Aston Villa,1.0,3.0,A,1.0,1.0,D,...,False,0,False,0,False,0,False,0,False,2013
1,E0,17/08/13,Liverpool,Stoke,1.0,0.0,H,1.0,0.0,H,...,True,0,True,0,True,0,True,0,True,2013
2,E0,17/08/13,Norwich,Everton,2.0,2.0,D,0.0,0.0,D,...,False,1,False,1,False,1,False,1,False,2013
3,E0,17/08/13,Sunderland,Fulham,0.0,1.0,A,0.0,0.0,D,...,False,0,False,0,False,0,False,0,False,2013
4,E0,17/08/13,Swansea,Man United,1.0,4.0,A,0.0,2.0,A,...,True,1,True,1,True,1,True,1,True,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12268,SP1,08/03/2020,Valladolid,Ath Bilbao,1.0,4.0,A,0.0,2.0,A,...,True,3,False,2,False,1,True,1,True,2020
12269,SP1,08/03/2020,Levante,Granada,1.0,1.0,D,1.0,0.0,H,...,False,0,False,0,False,0,False,0,False,2020
12270,SP1,08/03/2020,Villarreal,Leganes,1.0,2.0,A,1.0,0.0,H,...,False,0,False,0,False,0,False,0,False,2020
12271,SP1,08/03/2020,Betis,Real Madrid,2.0,1.0,H,1.0,1.0,D,...,False,1,False,1,False,1,False,1,False,2020
12272,SP1,10/03/2020,Eibar,Sociedad,1.0,2.0,A,0.0,1.0,A,...,True,1,True,1,True,1,True,1,True,2020

In [417]:
df = df[['Div','HomeTeam','Date','year','points']]
df['Month'] =  df.Date.apply(lambda x : x[3:5])
df['Day']=df.Date.apply(lambda x : x[0:2])
df['test']= df['year'].map(str)+'-' + df['Month'].map(str) + '-' + df['Day'].map(str)
df['Date']= df['test']
df = df.drop(columns= ['Day','Month'])

D:\anaconda\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

D:\anaconda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\anaconda\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
D:\anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [418]:
def split_year(days):
    number = int(days/36.5)
    return number

In [420]:
df['days']= pd.to_datetime(df.Date) - pd.to_datetime(df.year.map(str) +'-01-01') 
df['days']= df['days'].dt.days
df['split']=df.days.apply(split_year)
df['year']= df.year.map(str)+ '.'+ df.split.map(str)
df

array(['E0', 'F1', 'D1', 'I1', 'SP1'], dtype=object)

In [421]:
df.year = df.year.map(float)
df= df.drop(columns=['Date','test','days','split'])

In [422]:
test = df.groupby(['Div','HomeTeam','year']).sum().sort_values(by=['Div','HomeTeam'],ascending=False)['points']

In [423]:
test.to_csv('test.csv',encoding='utf-8')

In [451]:
test = pd.read_csv('test.csv')
maximum_year= test['year'].unique().max()
minimum_year= test['year'].unique().min()
vector = np.arange(minimum_year,maximum_year+0.1,0.1).round(1)

In [452]:
teams= test.HomeTeam.unique()
test['before'] = 0
for team in teams:
    df_temp = test[test['HomeTeam']== team]
    years = df_temp.year
    indexes = list(df_temp.index.values)
    count= 0
    for i in indexes:
        if i != min(indexes):
            df_temp.loc[i,'before']= count
        count += df_temp.loc[i].points
        if i != min(indexes):
            df_temp.loc[i,'points']= count
            
    df_temp.loc[min(indexes),'before']= 0
    if team == teams[0]:
        df_try=df_temp
    test[test['HomeTeam']== team]= df_temp
    
for team in teams:
    for i in vector:
        i = i.round(1)
        df_year = pd.DataFrame(columns=['Div','HomeTeam','year','points','before'])
        point = 0
        df_temp = test[test['HomeTeam']== team]
        min_year= df_temp['year'].unique().min()
        indexes = list(df_temp.index.values)
        if i not in df_temp.year.unique():
            if min_year > minimum_year:
                year_comp = np.arange(minimum_year,min_year,0.1).round(1)
                for year in year_comp:
                    data = {'Div': df_temp.loc[indexes[0],'Div'], 'HomeTeam': team, 'year':year.round(1),'points':point,'before':point}
                    df_year=df_year.append(data,ignore_index=True)
            else:
                point = df_temp[df_temp['year']== (i-0.1).round(1)].points.values[-1]
                bef = df_temp[df_temp['year']== (i-0.1).round(1)].before.values[-1]
                div= test[test['HomeTeam']=='Villarreal'].reset_index(drop=True).loc[0,'Div']
                data = {'Div': div, 'HomeTeam': team, 'year':i.round(1),'points':point,'before':bef}
                df_year=df_year.append(data,ignore_index=True)
            test = test.append(df_year)
test=test.sort_values(by='year').reset_index(drop=True)

In [453]:
column= ['name','value','year','lastValue','rank']
new_df = pd.DataFrame(columns=['name','value','year','lastValue','rank'])
test.Div.unique()

array(['SP1', 'D1', 'E0', 'F1', 'I1'], dtype=object)

In [459]:
test.rank = 0

In [472]:
new_df['name'] = test.HomeTeam
new_df['value']= test.points
new_df['year']= test.year
new_df['lastValue']= test.before
new_df['rank']= 0
new_df['Div']= test.Div
new_df.to_csv('points.csv',encoding='utf-8')
rank_df = pd.read_csv('points.csv').drop(columns='Unnamed: 0')
years = rank_df.year.unique()
rank_df
for div in rank_df.Div.unique():
    print(div)

SP1
D1
E0
F1
I1